body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 20px;
  background-color: var(--bg-primary);
}

/* @media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 15px;
  }
  
  .logo-container {
    margin-bottom: 10px;
  }
  .nombre-container {
    margin-bottom: 10px;
  }
} */

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  color: var(--text-secondary);
}
