body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: var(--bg-primary);
  padding: 40px;
}


/* ignorar
 .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 25px;
  background-color: var(--bg-primary);
 }
} */

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  color: var(--text-secondary);
}
