/* src/pages/SobreNosotros.css */

/* 1. mision */
.info-caja{
  background-color: #f7f5fa;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
  border: 1px solid #e0d7ed;

  padding: 24px 30px;
  margin: 50px auto;
  max-width: 90%;
  text-align: center;

}

.info-texto h1 {
  font-size: 2.5rem;
  color: var(--accent-color); 
  margin-bottom: 15px;
}

.info-texto .subtitulo {
  font-size: 1.3rem;
  color: var(--text-secondary);
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.6;
}

.sobre-seccion {
  margin-bottom: 60px;
  padding: 0 20px;
}

.info-caja h2 {
  font-size: 2.2rem;
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 25px;
}

.sobre-seccion p {
  font-size: 1.3rem;
  color: var(--text-secondary);
  line-height: 1.7;
  max-width: 80%; 
  margin: 0 auto 30px auto; 
  text-align: center;
}

/* 3. Grid para el Equipo */
.equipo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.equipo-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 25px;
  background-color: var(--card-bg);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.equipo-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--card-shadow);
}

/* Placeholder para la foto de perfil */
.placeholder-img {
  width: 150px; 
  height: 150px; 
  border-radius: 50%; 
  overflow: hidden;   /* eto borra el contenido fuera el circulo  */
  background-color: #d1c4e9; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0 auto 15px auto; 
  border: 3px solid var(--accent-color); 
}

/* Estilos para la imagen dentro del círculo */
.placeholder-img img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
}
.equipo-card h3 {
  font-size: 1.4rem;
  color: var(--accent-color);
  margin-bottom: 5px;
}

.equipo-card .rol {
  font-size: 1rem;
  color: var(--text-secondary);
  font-style: italic;
}

/* 4. Sección de Alianzas (para los logos) */
.alianzas-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  filter: grayscale(100%); 
  opacity: 0.7;
}

.alianzas-logos img {
  height: 60px; 
  width: auto;
}