:root {
  /* Variables de tema claro */
  --bg-primary: #f9f9f4;
  --bg-secondary: #e0dbf3;
  --text-primary: #333333;
  --text-secondary: #666666;
  --accent-color: hsl(261, 25%, 39%);
  --accent-hover: #441d66;
  --border-color: #d699f2;
  --card-bg: #ffffff;
  --card-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --hover-bg: rgba(0, 0, 0, 0.05);
  color-scheme: light;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}